:host {
  position: absolute;
  padding: 1.5rem;
  right: 0;
}
.user-section {

  .user-btn {
    display: flex;
    user-select: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    color: black;
    background-color: rgb(243, 244, 246);
    justify-content: center;
    align-items: center;
  }
}


.menu {
  display: flex;
  flex-direction: column;
}

.menu-item,
.standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.menu-item:hover {
  background-color: rgb(208, 208, 208);
  border-radius: 0.75rem;
}

.menu-item:active {
  background-color: rgb(170, 170, 170);
}

.standalone-item {
  background-color: rgb(239, 239, 239);
}
.standalone-item:hover {
  background-color: rgb(208, 208, 208);
}
.standalone-item[aria-expanded='true'] {
  background-color: rgb(208, 208, 208);
}
