:host {
  display: flex;
  flex-direction: column;
}

.submit-task-button {
  cursor: pointer;
  padding: 0 0.75rem 0 0.75rem;
  background-color: rgb(24,24,27);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  height: 2.25rem;
  width: fit-content;
  border: none;
}
