:host {
  background-color: white;
  margin: 0 auto 0 auto;
  padding: 1rem;
  display: block;
  border-width: 1px;
  border-radius: 0.75rem;
  max-width: 50rem;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  position: relative;
}
